<!DOCTYPE html>
html(lang="ru")
head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    link(rel="stylesheet", href="assets/css/main.css")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Raleway")
    link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css')
    title Portfolio 3
body
    header.header
        .wrapper
            nav.nav
                .nav-logo
                    a(href="#").nav-logo-link
                        img(src="assets/img/logo.png", alt="global-logo").nav-logo-link__img
                    a(href="#").nav-logo-icon
                      i.nav-logo-icon__icon.fa.fa-2x.fa-bars
                .menu
                    ul.menu-links
                        li.menu-links-li
                            a(href="#").menu-links-li__a Pricing
                        li.menu-links-li
                            a(href="#").menu-links-li__a Handpicked
                        li.menu-links-li
                            a(href="#").menu-links-li__a Blog
                        li.menu-links-li
                            a(href="#").menu-links-li__a +628 135 142 121
            .header-body
                h1.header-body__title Your daily food plan
                p.header-body__text Breakfast Time Folks! Choose Your Breakfast Food Below
                a(href="#").header-body__btn Custom Food Box
        .header-slider
            .header-slider-wrap
                .header-slider-item
                    .header-slider-item-left
                        h2.header-slider-item-left__title Stinky Tofu
                        .header-slider-info
                            p.header-slider-info__title Southeast Asia
                            .header-slider-info__star
                            .header-slider-info__rate 8.0/10
                        .header-slider-t-price
                            .header-slider-t-price__dolor $ 30
                            .header-slider-t-price__pcs /pcs
                        a(href="#").header-slider-t-btn Order now
                    .header-slider-item-right
                        img(src="assets/img/food2.png", alt="").header-slider-item-right__img
                .header-slider-item
                    .header-slider-item-left
                        h2.header-slider-item-left__title Parma Ham
                        .header-slider-info
                            p.header-slider-info__title Italian Food
                            .header-slider-info__star
                            .header-slider-info__rate 8.0/10
                        .header-slider-t-price
                            .header-slider-t-price__dolor $ 20
                            .header-slider-t-price__pcs /pcs
                        a(href="#").header-slider-t-btn Order now
                    .header-slider-item-right
                        img(src="assets/img/food2.png", alt="").header-slider-item-right__img
                .header-slider-item
                    .header-slider-item-left
                        h2.header-slider-item-left__title Stinky Tofu
                        .header-slider-info
                            p.header-slider-info__title Southeast Asia
                            .header-slider-info__star
                            .header-slider-info__rate 8.0/10
                        .header-slider-t-price
                            .header-slider-t-price__dolor $ 20
                            .header-slider-t-price__pcs /pcs
                        a(href="#").header-slider-t-btn Order now
                    .header-slider-item-right
                        img(src="assets/img/food3.png", alt="").header-slider-item-right__img
                .header-slider-item
                    .header-slider-item-left
                        h2.header-slider-item-left__title Massaman Curry
                        .header-slider-info
                            p.header-slider-info__title Thailand Food
                            .header-slider-info__star
                            .header-slider-info__rate 8.0/10
                        .header-slider-t-price
                            .header-slider-t-price__dolor $ 20
                            .header-slider-t-price__pcs /pcs
                        a(href="#").header-slider-t-btn Order now
                    .header-slider-item-right
                        img(src="assets/img/food4.png", alt="").header-slider-item-right__img
                .header-slider-item
                    .header-slider-item-left
                        h2.header-slider-item-left__title Massaman Curry
                        .header-slider-info
                            p.header-slider-info__title Southeast Asia
                            .header-slider-info__star
                            .header-slider-info__rate 8.0/10
                        .header-slider-t-price
                            .header-slider-t-price__dolor $ 20
                            .header-slider-t-price__pcs /pcs
                        a(href="#").header-slider-t-btn Order now
                    .header-slider-item-right
                        img(src="assets/img/food2.png", alt="").header-slider-item-right__img
        .serve
            .wrapper
                .b-serve
                    h1.b-serve__title Here what we serve to you
                    p.b-serve__desc Excepteur sint occaecat cupidatat non proident, deserunt mollit anim id est laborum
                    .b-serve-items
                        .b-server-item
                            .b-server-item-left
                                img(src="assets/img/servefood1.png", alt="стол с продуктами").b-server-item-left__img
                            .b-server-item-right
                                h2.b-server-item-right__title Daily Catering
                                ul.b-serve-list
                                    li.b-serve-list__item 15 Packet Variation
                                    li.b-serve-list__item 10 - 11 Desserts Menu
                                    li.b-serve-list__item Free Mineral Water
                                    li.b-serve-list__item Secret Bonus
                                    li.b-serve-list__item $10 - $40
                                a(href="#").b-serve-list__btn Take this
                        .b-server-item
                            .b-server-item-left
                                img(src="assets/img/servefood2.png", alt="стол с продуктами").b-server-item-left__img
                            .b-server-item-right
                                h2.b-server-item-right__title Wedding Event
                                ul.b-serve-list
                                    li.b-serve-list__item 15 Packet Variation
                                    li.b-serve-list__item 10 - 11 Desserts Menu
                                    li.b-serve-list__item Free Mineral Water
                                    li.b-serve-list__item Secret Bonus
                                    li.b-serve-list__item $200 - $800
                                a(href="#").b-serve-list__btn Take this
                        .b-server-item
                            .b-server-item-left
                                img(src="assets/img/servefood3.png", alt="стол с продуктами").b-server-item-left__img
                            .b-server-item-right
                                h2.b-server-item-right__title Office Meeting
                                ul.b-serve-list
                                    li.b-serve-list__item 15 Packet Variation
                                    li.b-serve-list__item 10 - 11 Desserts Menu
                                    li.b-serve-list__item Free Mineral Water
                                    li.b-serve-list__item Secret Bonus
                                    li.b-serve-list__item $100 - $1400
                                a(href="#").b-serve-list__btn Take this
        .discount
            .wrapper
                .discount-title-block
                    h1.discount-title-block__title Sign up To GEt 10% Discount
                .discount-desc-block
                    p.discount-desc-block__desc Excepteur sint occaecat cupidatat non proident, deserunt mollit anim id est laborum
                    a(href="#").standart-btn Sing up
        .handpicked
            .b-handpicked
                h1.b-handpicked__title Handpicked food 
                p.b-handpicked__desc Excepteur sint occaecat cupidatat non proident, deserunt mollit anim id est laborum
                .b-handpicked-slider-top
                    .b-handpicked-wrap
                        .b-handpicked-item
                            .b-handpicked-item-top
                                img(src="assets/img/fi2.png", alt="").b-handpicked-item-img__img
                            .b-handpicked-item-bottom
                                a(href="").b-handpicked-item-bottom-cartbtn
                                h2.b-handpicked-item-bottom__title Biryani Blues
                                p.b-handpicked-item-bottom__country Germany
                                .b-rate-and-price
                                    .b-rate-and-price__price $20 / pcs
                                    .rating
                                        i.rating__icon.fa.fa-star(aria-hidden='true')
                                        i.rating__icon.fa.fa-star(aria-hidden='true')
                                        i.rating__icon.fa.fa-star(aria-hidden='true')
                                        i.rating__icon.fa.fa-star(aria-hidden='true')
                        .b-handpicked-item
                            .b-handpicked-item-top
                                .sale
                                    .sale-circle
                                        .sale-circle__value 15%
                                img(src="assets/img/fi2.png", alt="").b-handpicked-item-img__img
                            .b-handpicked-item-bottom
                                a(href="").b-handpicked-item-bottom-cartbtn
                                h2.b-handpicked-item-bottom__title Biryani Blues
                                p.b-handpicked-item-bottom__country Germany
                                .b-rate-and-price
                                    .b-rate-and-price__price $20 / pcs
                                    .rating
                                        i.rating__icon.fa.fa-star(aria-hidden='true')
                                        i.rating__icon.fa.fa-star(aria-hidden='true')
                                        i.rating__icon.fa.fa-star(aria-hidden='true')
                                        i.rating__icon.fa.fa-star(aria-hidden='true')
                        .b-handpicked-item
                            .b-handpicked-item-top
                                img(src="assets/img/fi3.png", alt="").b-handpicked-item-img__img
                            .b-handpicked-item-bottom
                                a(href="").b-handpicked-item-bottom-cartbtn
                                h2.b-handpicked-item-bottom__title Biryani Blues
                                p.b-handpicked-item-bottom__country Germany
                                .b-rate-and-price
                                    .b-rate-and-price__price $20 / pcs
                                    .rating
                                        i.rating__icon.fa.fa-star(aria-hidden='true')
                                        i.rating__icon.fa.fa-star(aria-hidden='true')
                                        i.rating__icon.fa.fa-star(aria-hidden='true')
                        .b-handpicked-item
                            .b-handpicked-item-top
                                img(src="assets/img/fi4.png", alt="").b-handpicked-item-img__img
                            .b-handpicked-item-bottom
                                a(href="").b-handpicked-item-bottom-cartbtn
                                h2.b-handpicked-item-bottom__title Biryani Blues
                                p.b-handpicked-item-bottom__country Germany
                                .b-rate-and-price
                                    .b-rate-and-price__price $20 / pcs
                                    .rating
                                        i.rating__icon.fa.fa-star(aria-hidden='true')
                                        i.rating__icon.fa.fa-star(aria-hidden='true')
                                        i.rating__icon.fa.fa-star(aria-hidden='true')
                                        i.rating__icon.fa.fa-star(aria-hidden='true')
                        .b-handpicked-item
                            .b-handpicked-item-top
                                .sale
                                    .sale-circle
                                        .sale-circle__value 10%
                                img(src="assets/img/fi5.png", alt="").b-handpicked-item-img__img
                            .b-handpicked-item-bottom
                                a(href="").b-handpicked-item-bottom-cartbtn
                                h2.b-handpicked-item-bottom__title Biryani Blues
                                p.b-handpicked-item-bottom__country Germany
                                .b-rate-and-price
                                    .b-rate-and-price__price $20 / pcs
                                    .rating
                                        i.rating__icon.fa.fa-star(aria-hidden='true')
                                        i.rating__icon.fa.fa-star(aria-hidden='true')
                                        i.rating__icon.fa.fa-star(aria-hidden='true')
                                        i.rating__icon.fa.fa-star(aria-hidden='true')
                        .b-handpicked-item
                            .b-handpicked-item-top
                                .sale
                                    .sale-circle
                                        .sale-circle__value 10%
                                img(src="assets/img/fi6.png", alt="").b-handpicked-item-img__img
                            .b-handpicked-item-bottom
                                a(href="").b-handpicked-item-bottom-cartbtn
                                h2.b-handpicked-item-bottom__title Biryani Blues
                                p.b-handpicked-item-bottom__country Germany
                                .b-rate-and-price
                                    .b-rate-and-price__price $20 / pcs
                                    .rating
                                        i.rating__icon.fa.fa-star(aria-hidden='true')
                                        i.rating__icon.fa.fa-star(aria-hidden='true')
                                        i.rating__icon.fa.fa-star(aria-hidden='true')
                                        i.rating__icon.fa.fa-star(aria-hidden='true')
                .b-handpicked-slider-bottom
                    .b-handpicked-wrap
                        .b-handpicked-item
                            .b-handpicked-item-top
                                .sale
                                    .sale-circle
                                        .sale-circle__value 10%
                                img(src="assets/img/fi6.png", alt="").b-handpicked-item-img__img
                            .b-handpicked-item-bottom
                                a(href="").b-handpicked-item-bottom-cartbtn
                                h2.b-handpicked-item-bottom__title Biryani Blues
                                p.b-handpicked-item-bottom__country Germany
                                .b-rate-and-price
                                    .b-rate-and-price__price $20 / pcs
                                    .rating
                                        i.rating__icon.fa.fa-star(aria-hidden='true')
                                        i.rating__icon.fa.fa-star(aria-hidden='true')
                                        i.rating__icon.fa.fa-star(aria-hidden='true')
                                        i.rating__icon.fa.fa-star(aria-hidden='true')
                        .b-handpicked-item
                            .b-handpicked-item-top
                                .sale
                                    .sale-circle
                                        .sale-circle__value 10%
                                img(src="assets/img/fi7.png", alt="").b-handpicked-item-img__img
                            .b-handpicked-item-bottom
                                a(href="").b-handpicked-item-bottom-cartbtn
                                h2.b-handpicked-item-bottom__title Biryani Blues
                                p.b-handpicked-item-bottom__country Germany
                                .b-rate-and-price
                                    .b-rate-and-price__price $20 / pcs
                                    .rating
                                        i.rating__icon.fa.fa-star(aria-hidden='true')
                                        i.rating__icon.fa.fa-star(aria-hidden='true')
                                        i.rating__icon.fa.fa-star(aria-hidden='true')
                        .b-handpicked-item
                            .b-handpicked-item-top
                                img(src="assets/img/fi4.png", alt="").b-handpicked-item-img__img
                            .b-handpicked-item-bottom
                                a(href="").b-handpicked-item-bottom-cartbtn
                                h2.b-handpicked-item-bottom__title Biryani Blues
                                p.b-handpicked-item-bottom__country Germany
                                .b-rate-and-price
                                    .b-rate-and-price__price $20 / pcs
                                    .rating
                                        i.rating__icon.fa.fa-star(aria-hidden='true')
                                        i.rating__icon.fa.fa-star(aria-hidden='true')
                                        i.rating__icon.fa.fa-star(aria-hidden='true')
                                        i.rating__icon.fa.fa-star(aria-hidden='true')
                        .b-handpicked-item
                            .b-handpicked-item-top
                                img(src="assets/img/fi10.jpg", alt="").b-handpicked-item-img__img
                            .b-handpicked-item-bottom
                                a(href="").b-handpicked-item-bottom-cartbtn
                                h2.b-handpicked-item-bottom__title Biryani Blues
                                p.b-handpicked-item-bottom__country Germany
                                .b-rate-and-price
                                    .b-rate-and-price__price $20 / pcs
                                    .rating
                                        i.rating__icon.fa.fa-star(aria-hidden='true')
                                        i.rating__icon.fa.fa-star(aria-hidden='true')
                                        i.rating__icon.fa.fa-star(aria-hidden='true')
                                        i.rating__icon.fa.fa-star(aria-hidden='true')
                        .b-handpicked-item
                            .b-handpicked-item-top
                                img(src="assets/img/fi8.png", alt="").b-handpicked-item-img__img
                            .b-handpicked-item-bottom
                                a(href="").b-handpicked-item-bottom-cartbtn
                                h2.b-handpicked-item-bottom__title Biryani Blues
                                p.b-handpicked-item-bottom__country Germany
                                .b-rate-and-price
                                    .b-rate-and-price__price $20 / pcs
                                    .rating
                                        i.rating__icon.fa.fa-star(aria-hidden='true')
                                        i.rating__icon.fa.fa-star(aria-hidden='true')
                                        i.rating__icon.fa.fa-star(aria-hidden='true')
                                        i.rating__icon.fa.fa-star(aria-hidden='true')
                        .b-handpicked-item
                            .b-handpicked-item-top
                                .sale
                                    .sale-circle
                                        .sale-circle__value 10%
                                img(src="assets/img/fi6.png", alt="").b-handpicked-item-img__img
                            .b-handpicked-item-bottom
                                a(href="").b-handpicked-item-bottom-cartbtn
                                h2.b-handpicked-item-bottom__title Biryani Blues
                                p.b-handpicked-item-bottom__country Germany
                                .b-rate-and-price
                                    .b-rate-and-price__price $20 / pcs
                                    .rating
                                        i.rating__icon.fa.fa-star(aria-hidden='true')
                                        i.rating__icon.fa.fa-star(aria-hidden='true')
                                        i.rating__icon.fa.fa-star(aria-hidden='true')
                                        i.rating__icon.fa.fa-star(aria-hidden='true')
        .testimonials
            .wrapper
                .testimonials-desc
                    h1.testimonials-desc__title We have happy people
                    p.testimonials-desc__text Excepteur sint occaecat cupidatat non proident, deserunt mollit anim id est laborum
                    a(href="#").standart-btn.standart-btn-testimonials Ready To Eat
                .video.testimonials-video
                    .video-frame
                        video.video-frame__player
                            source(src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/3431/stu.mp4', type='video/mp4')
                        .video-frame__playpause
                    .video-desc
                        .video-desc-wrapper
                            .video-desc-wrapper__title Winifred Stanley - Indofood.inc
                            .rate-block
                                .rate-block__icon.fa.fa-star(aria-hidden='true')
                                .rate-block__rating 8.0 / 10
        .blog
            .wrapper
                h2.blog__title We have Daily Info & Tips
                p.blog__desc Excepteur sint occaecat cupidatat non proident, deserunt mollit anim id est laborum
                .blog-posts
                    .sidemenu
                        ul.sidemenu-ul
                            li.sidemenu-ul-item
                                a(href="#").sidemenu-ul-item__link Latest Post
                            li.sidemenu-ul-item
                                a(href="#").sidemenu-ul-item__link Popular
                            li.sidemenu-ul-item
                                a(href="#").sidemenu-ul-item__link Healthy (18)
                            li.sidemenu-ul-item
                                a(href="#").sidemenu-ul-item__link Tips & Trick (23)
                            li.sidemenu-ul-item
                                a(href="#").sidemenu-ul-item__link Life Hack (12)
                            li.sidemenu-ul-item
                                a(href="#").sidemenu-ul-item__link All Post
                    .post-item
                        .post-item-photo
                            img(src="assets/img/bl1.png", alt="").post-item-photo__img
                        .post-item-desc
                            .post-category
                                .post-category__date Oct 04, 2016
                                .post-category__name Life Hack
                            .post-item-desc__text Alfredo And Who On Earth Was He
                    .post-item
                        .post-item-photo
                            img(src="assets/img/bl2.png", alt="").post-item-photo__img
                        .post-item-desc
                            .post-category
                                .post-category__date Oct 04, 2016
                                .post-category__name Life Hack
                            .post-item-desc__text Alfredo And Who On Earth Was He
                    .post-item
                        .post-item-photo
                            img(src="assets/img/bl3.png", alt="").post-item-photo__img
                        .post-item-desc
                            .post-category
                                .post-category__date Oct 04, 2016
                                .post-category__name Life Hack
                            .post-item-desc__text Alfredo And Who On Earth Was He
        .footer
          .wrapper
            .footer-block
              .footer-info
                .footer-header
                  h3.footer-header__title Malang Catering
                p.footer-info__desc Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur
              .footer-links
                .footer-header
                  h3.footer-header__title Help & Information
                ul.footer-nav
                  li.footer-nav-item
                    a(href="#").footer-nav-item__link How it Works
                  li.footer-nav-item
                    a(href="#").footer-nav-item__link Tips
                  li.footer-nav-item
                    a(href="#").footer-nav-item__link Delivery Coverage
                  li.footer-nav-item
                    a(href="#").footer-nav-item__link FAQ
                  li.footer-nav-item
                    a(href="#").footer-nav-item__link Payments
script(type='text/javascript',src="assets/js/jquery-2.2.4.min.js")
script(type='text/javascript',src="assets/js/main.js")
